<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <h3>Holis desde el servidor</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio omnis rerum corporis et distinctio accusantium tempora sint veritatis inventore velit. Perferendis perspiciatis eius reprehenderit sit nulla veritatis totam pariatur expedita!</p>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>